*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, sans-serif;
    color:bisque;
}

header{
    color:bisque;
    text-align: center;
    padding: 20px;
}

header h1{
    margin: 0;
}

header p{
    margin: 5px 0;
}

section{
    padding: 20px;
}

section h2{
    margin-top: 0;
}


ul{
    list-style-type: none;
    padding: 0;
}

footer{
    color: bisque;
    text-align: center;
    padding: 10px 0;
}
.hello{
    background-image: url(183543-web-development-wallpaper-top-free-web-development-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
h2{
    font-family: cooper black;
}
